/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2016, 1:21:10 PM
    Author     : Nguyen Euler
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2016, 3:15:06 PM
    Author     : Nguyen Euler
*/
*{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*-------------CSS-for----links-------*/
a{
    text-decoration: none;
    margin-left: 15px;
    
}
a:link{
    color: black;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: underline;
}
/*---------------------------*/
html { background-color:white; }
/* ---CSS---for----header---*/
header{
max-width : 100%;
height: 81px;
background: white;
}
#left-logo{
    width: 34.76%; 
    min-width: 200px; 
    margin: 0;
    padding:0;
    float: left;
    height:76px;
    border-bottom: 5px solid red;
}
#left-logo img{
    width: 100%;
    max-width:445px;
    min-width: 200px; 
}
#mobilemenu{
    display:none;
}
@media only screen and (max-width :767px)
{
    #nav_menu {display: none;}
    #mobilemenu {display: block;}
    .slicknav_nav {background-color: #facd8a !important; } 
}
#nav_menu ul{
    list-style: none;
    position: relative; 
    margin: 0;
    padding: 0;
    
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul li {
    
    display: block;
    padding: 0.5em 0;
    background-color: white;
    border-bottom: 1px solid red;
    text-decoration: none;
}
#nav_menu ul ul li a{
    
    display:block;
    margin-right: 10px;
    
}
#nav_menu ul ul li:hover {
 
}
#home,#ctdt,#dk,#job,#viettech,#contact,#blog
{
    
    margin-top: 40px;
    background-color: white;
    border-bottom: 5px solid red;
    border-right: 1px solid black;
    height: 36px;
    overflow: hidden;
    display: inline-block;
}

#home
{
    width: 7%;
}
#home:hover,#ctdt:hover,#dk:hover,#job:hover,#viettech:hover,#contact:hover,#blog:hover
{
    border-bottom-color: orange;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
#ctdt
{
    width: 12.89% ;
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}


#dk
{
    width: 8.12%;
}
#job
{
    width: 6.25%;
}
#viettech
{
    width: 6.64%;
}
#contact
{
    width: 5.62%;
}
#blog
{
    width: 4.45%;
}

/*-----------------------------*/
#right-logo
{  
    max-width: 14.27%;
    background-color: white;
    border-bottom: 5px solid red;
    height: 76px;
    overflow: hidden;
}
#right-logo img
{
    max-width: 100%;
}

#header>ul::after
{
    content:"";
    display:block;
    clear:both;
    
}
header h1
{
    font-size: 90px;
    text-align: center;
}
/*-------------------------------*/


/*---------------------*/
main{
 
 width:100%;
 overflow: hidden;
 
}
#right-image
{

float: right;
margin-right: 10%;
margin-top: 36px;
border: 1px solid red;
height: 352px;
width: 20%;
}
#right-image img
{
    padding: 25px 50px;
    border-radius: 50%;	
}
#title
{
width: 53.12%;
margin-left: 5.9%;
margin-top: 22px;
border-bottom : 2px solid whitesmoke;
padding-bottom: 35px;
overflow: hidden;
}
#title img
{
float:left;
max-width:41px;
width: 6.02%;
margin-right:5px;
border-radius: 1px;
}
#title h2
{
color: red;
text-transform:uppercase;

}

#form
{
width: 53.12%;
margin-left: 5.9%;
margin-top: 30px;

}


label{
float: left;
text-align : right;
width: 140px;
}
span{
color:red;
}
input{

  margin-left: 16px;
  margin-bottom: 10px;
  width: 283px;
  height: 32px;
}
#multi-choice{
  margin-left: 16px;
  margin-bottom: 10px;
  height: 32px;
  width: 450px;
}
#message{
  margin-left: 16px;
  margin-bottom: 10px;
  width: 450px;
  height: 105px;
}
#send-reg
{
 float:right;
 color:white;
 background-color:red;
 height:43px;
 width: 96px;
 text-align:center;
 text-transform : uppercase;
 margin-right:16px;
 margin-top: 8px;
 border-top: 2px solid whitesmoke;
}
#end-line{
 
 clear: both;
 margin-left: 5.09%;
 font-weight:bold;
 color: red;

}

/*------footer---------*/
footer {background: #aaa;color:white;padding-top:10px;}

footer a:link 
{
 color:white;
}