/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2016, 3:15:06 PM
    Author     : Nguyen Euler
*/
*{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  
}
/*-------------CSS-for----links-------*/
a{
    text-decoration: none;
    margin-left: 15px; 
}
a:link{
    color: black;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: underline;
}
/*---------------------------*/
html { background-color:whitesmoke; }
body{ font-size: 100%;}
/* ---CSS---for----header---*/
header{
width :100%;
height: 76px;
background: white;
border-bottom: 5px solid red;
}
#left-logo{
    width: 34.76%; 
    min-width: 200px; 
    margin: 0;
    padding:0;
    float: left;
    height:76px;
    border-bottom: 5px solid red;
}
#left-logo img{
    display: block;
    width: 90%;
    /*max-width:445px;*/
    /*min-width: 200px;*/ 
}
#nav_menu
{
    width:65.24%;
    float:left;
    height:76px;
}

#mobilemenu{
    display:none;
}
@media only screen and (max-width :900px)
{
 body{font-size: 80%;}
}
@media only screen and (max-width :767px)
{
    #nav_menu {display: none;}
    #mobilemenu {display: block;}
    .slicknav_nav {background-color: #facd8a !important; }
    body{font-size: 65%;}
}
/*---------CSS-for-navigation-bar-------*/
#nav_menu ul{
    list-style-type: none;
    position: relative; 
    margin: 0;
    padding: 0;
    
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul li {
    
    display: block;
    padding: 0.5em 0;
    background-color: white;
    border-bottom: 1px solid red;
    text-decoration: none;
}
#nav_menu ul ul li a{
    
    display:block;
    margin-right: 10px;
    
}
#nav_menu ul ul {
	display: none;         
	position: absolute;
	top: 100%;             
}
#nav_menu ul ul li {
	float: none;           
}
#nav_menu ul li:hover > ul {
	display: block;        
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;


}
/*-------------------------*/
#home,#ctdt,#dk,#job,#viettech,#contact,#blog
{
    margin-top: 40px;
    background-color: white;
    border-bottom: 5px solid red;
    border-right: 1px solid black;
    height: 36px;
    overflow: hidden;
    display: inline-block;
}

#home:hover,#ctdt:hover,#dk:hover,#job:hover,#viettech:hover,#contact:hover,#blog:hover
{
    border-bottom-color: orange;
}
#home { width: 10.77%;}
#ctdt{width: 19.76% ;}
#dk{ width: 12.57%;}
#job{width: 9.58%;}
#viettech{width: 10.17%;}
#contact{width: 8.38%;}
#blog{width: 7.18%;}


/*---------CSS for banner-------*/
nav{
    clear: left;
    height: 249px;
}
nav img 
{
    margin-left: 12%;
	width: 74.21%;
	height: 249px;
}

/*---------------------*/
main{
    border-top: 3px solid red;
    margin: 0; 
    padding:0;
}
/*---------CSS-for---registry and course-----------*/
#first
{
    background-color: rgb(202,52,56);
    height: 395px;
    width: 100%;
}
/*---------------registry form-------------*/
#registry 
{
   
    margin-top: 20px; margin-left: 11.09%;margin-right: 25px;
    width: 18.28%;
    height: 356px;
    float: left;
    border-bottom: 1px dashed gold;
    border-top : 1px dashed gold;
    border-left: 1px dashed gold;
    border-right: 1px dashed gold;
    border-radius: 2px;
}
#reg-icon
{
    display: block;
    float:left;
    padding-left: 10px;
    margin-top: 15px;

    width: 100%;
    max-width:41px; 
}

#registry h2{
    text-transform: uppercase;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 22px;
    border-bottom: 1px dashed gold;
}
form
{
    margin :0;
    padding:0;
}
#form-reg1
{
    margin-top: 13px;
    margin-left: 5%;
    margin-bottom: 9px;
    height:1.75em;
    max-width: 211px;
    width: 85.57%;


}
#form-reg2,#form-reg3,#registry .multi-choice

{
    margin-left: 5%;
    margin-bottom: 9px;
    height:1.75em;
    max-width: 211px;
    width: 85.57%;
}
#message {
    margin-left: 5%;
    height:3.125em; 
    max-width: 211px;
    width: 85.57%;
    margin-bottom: 9px;
}

#extra{
    background-color: orange;
    color: white;
    margin-left: 5%;
    padding: 5px 28px;
    text-align: center;
    display: inline-block;
    max-width: 211px;
    width: 85.57%;
	height: 2.25em; 
    text-transform: uppercase;
}
#extra:hover {
  border: none;
  background: orange;
  box-shadow: 0px 0px 1px #777;
 }
 
 /*-------------Courses--------------------*/
#course 
{
    float: left;
    width: 57.5%;
    height: 356px;
    margin-top: 20px;
    border-bottom: 1px dashed gold;
    border-top : 1px dashed gold;
    border-left: 1px dashed gold;
    border-right: 1px dashed gold;
    border-radius: 1px;
    overflow: scroll;
}
#course-icon
{
    display: block;
    float:left;
    margin-left: 10px;
    margin-top: 15px;
    width: 100%;
    max-width:41px; 
}
#course h2
{
    padding-left: 60px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 22px;
    border-bottom: 1px dashed gold;
}
.course1,.course2,.course3,.course4
{
    max-width: 160px;
    width: 21.77%;
    float:left;
    margin-left:15px;
    margin-top: 42px;
    text-align: center;

}
.course1 img,.course2 img,.course3 img,.course4 img 

{
    max-width: 115px;
    width: 71.875%;
    border-radius: 50%;
}

#course a{color: white;}
#course p
{
    font-size: 13px;
    color: white;
    text-align: center;
}

/*---------------CSS for introduction-----------------*/
#introduction{
    width: 100%;
    border-top: 3px solid red;
    padding-bottom: 2em;
    border-bottom: 3px solid red;
    overflow: hidden;  
	height: 375px;
}
#intro-pic
{
   width: 21.18%;
   height: 320px;
   float:left;
   margin-top:2%;
   margin-left:8%;
   margin-right: 5%;
}
#intro-pic img{
	   
	   width: 100%;
	   border-radius: 50%;
       
}
#button{
    margin-top: 10px;
    background-color: orange;
    color: white;
    text-align: center;
    width: 30%;
    border-radius: 2px;
}
#intro-text
{
    float: left;
    margin-top: 30px;
    width: 20%;
	height: 320px;
    margin-right: 5%;
}
#tvideo{
    margin-top: 20px;
    float:left;
	width: 40%; 
	height: 315px;
    display: block;
}
#introduction::after
{
    clear:both;
    content:"";
}
/*-------------Announcements------------*/
#second
{
 height: 360px;
 border-bottom: 3px solid red;   
 background-color: rgb(202,52,56);
}
#schedule
{
    float:left;
    margin-top:2%;
    margin-left: 9.5%;
    margin-right:0.5%;
    width: 51.56%;
	height: 315px;
    
}
#schedule-title,#noterboard-title
{
    overflow: hidden;
    border-bottom: 1px dashed red;

}
#schedule img
{
    float:left;
    margin-left: 3px;
    margin-bottom: 3px;
    width: 100%;
    max-width: 41px;
}
#schedule h2
{
    margin-left: 7.58%;
}
#noteboard

{
    float:left;
    margin-top:2%;
    margin-left:33px;
    border: 1px dashed white;
    height: 315px;
    width: 24.6%;

}

#noteboard img
{
    float:left;
    margin-left: 3px;
    margin-bottom: 3px;
    width: 100%;
    max-width: 41px;
}
#noteboard h2
{
     margin-left: 19.04%;
}

/*------footer---------*/
footer {background: #aaa;color:white;}

footer a:link
{
    color:white;
}
/*--------CSS-for-texts---------*/
h2{
font-size: 1.2em;
color: whitesmoke;
}
h3
{
 font-size: 1.1em;
}
.text-header
{
 font-size: 1em;
}
#course p
{ font-size: 0.8125em;}
.text-intro1{
font-size: 2em;
}
.text-intro
{
text-justify: auto;
font-size: 1em;
}
#message
{
 font-size: 1em;
}
#button
{
font-size: 0.75em;
}
.text-footer
{
  font-size: 0.95em;
}
#extra
{
 font-size: 0.875em;
}