/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2016, 1:21:10 PM
    Author     : Nguyen Euler
*/

*{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*-------------CSS-for----links-------*/
a{
    text-decoration: none;
    margin-left: 15px; 
}
a:link{
    color: black;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: red;
}
a:active {
    text-decoration: underline;
}
/*---------------------------*/
html { background-color:white; }
body{font-size: 100%;}
/* ---CSS---for----header---*/
header{
width :100%;
height: 76px;
background: white;
border-bottom: 5px solid red;
}
#left-logo{
    width: 34.76%; 
    margin: 0;
    padding:0;
    float: left;
    height:76px;
}
#left-logo img{
    display: block;
    width: 100%;
	height:76px;
    /*max-width:445px;*/
    /*min-width: 200px;*/ 
}
#nav_menu
{
    width:65.24%;
    float:left;
    height:76px;
}

#mobilemenu{
    display:none;
}
@media only screen and (max-width :900px)
{
 body{font-size: 80%;}
}
@media only screen and (max-width :767px)
{
    #nav_menu {display: none;}
    #mobilemenu {display: block;}
    .slicknav_nav {background-color: #facd8a !important; }
    body{font-size: 65%;}
}
/*---------CSS-for-navigation-bar-------*/
#nav_menu ul{
    list-style-type: none;
    position: relative; 
    margin: 0;
    padding: 0;  
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul li {
    
    display: block;
    padding: 0.5em 0;
    background-color: white;
    border-bottom: 1px solid red;
    text-decoration: none;
}
#nav_menu ul ul li a{
    
    display:block;
    margin-right: 10px;    
}
#nav_menu ul ul {
	display: none;         
	position: absolute;
	top: 100%;             
}
#nav_menu ul ul li {
	float: none;           
}
#nav_menu ul li:hover > ul {
	display: block;        
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
/*-------------------------*/
#home,#ctdt,#dk,#job,#viettech,#contact,#blog
{
    
    margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
    background-color: white;
    border-bottom: 5px solid red;
    border-right: 1px solid black;
    height: 36px;
    overflow: hidden;
    display: inline-block;
}
.text-header{
font-size: 1em;
}
#home a,#ctdt a,#dk a,#job a,#viettech a,#contact a,#blog a
{
  text-align: center;
}
#home:hover,#ctdt:hover,#dk:hover,#job:hover,#viettech:hover,#contact:hover,#blog:hover
{
    border-bottom-color: orange;
}
#home{ width: 10.77%;}
#ctdt{ width: 19.76% ;}
#dk{ width: 12.57%;}
#job{width: 9.58%;}
#viettech{width: 10.17%;}
#contact{width: 8.38%;}
#blog{width: 7.18%;}

header h1
{
    font-size: 90px;
    text-align: center;
}

/*---------------------*/
main{
 width:100%;
 overflow: hidden;
}

#right-image
{

float: right;
margin-right: 10%;
margin-top: 36px;
border: 1px solid red;
height: 352px;
width: 20%;
}

#right-image img
{
    width: 60%;
    margin:20%;
    border-radius: 50%;	
}
#right-image p
{
 text-align: center;
 text-transform: uppercase;
 font-size: 1.5em;
 color: red;
}
#title
{

width: 53.12%;
margin-left: 5.9%;
margin-top: 22px;
border-bottom : 2px solid whitesmoke;
padding-bottom: 35px;
overflow: hidden;
}

#title img
{
float:left;
max-width:41px;
width: 6.02%;
margin-right:5px;
border-radius: 1px;
}

h2
{
color: red;
text-transform:uppercase;
font-size: 1.2em;
}
.ask
{ 
   text-align: center;
   font-size: 1.2em;
   font-weight: bold;
}

#form
{
width: 53.12%;
margin-left: 5.9%;
margin-top: 30px;

}

label{

float: left;
font-size: 1em;
text-align : right;
width: 20%;
}

span{
color:red;
}

input{

  margin-left: 5%;
  margin-bottom: 20px;
  width: 35%;
  height: 1.75em;
}

#multi-choice{

  margin-left: 5%;
  margin-bottom: 10px;

  height: 32px;
  width: 47%;
}

#message{
  margin-left: 5%;
  margin-bottom: 10px;
  width: 47%;
  height: 105px;
}

#send-reg
{
 float:right;
 color:white;
 background-color:red;
 height:2.7em;
 width: 15%;
 text-align:center;
 text-transform : uppercase;
 margin-right:30%;
 margin-top: 8px;
 border-top: 2px solid whitesmoke;
 font-size: 1em;
}
#end-line{
 
 clear: both;
 margin-left: 5.09%;
 font-weight:bold;
 font-size: 1em;
 color: red;

}
/*------footer---------*/
footer {background: #aaa;color:white;padding-top:10px;}
footer a:link 
{
 color:white;
}
/*----CSS-for-texts----*/
.text-footer
{ font-size: 1em;
  margin: auto 0;
}