/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2016, 3:15:06 PM
    Author     : Nguyen Euler
*/
*{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*-------------CSS-for----links-------*/
a{
    text-decoration: none;
    margin-left: 15px;
    
}
a:link{
    color: black;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: underline;
}
/*---------------------------*/
html { background-color:whitesmoke; }
/* ---CSS---for----header---*/
header{
max-width : 100%;
height: 81px;
background: white;
}
#left-logo{
    width: 34.76%; 
    margin: 0;
    padding:0;
    float: left;
    height:76px;
    border-bottom: 5px solid red;
}
#left-logo img{
    margin-left: 180px;
    max-width: 247px;
}
#navigation ul{
    list-style: none;
    position: relative; 
    margin: 0;
    padding: 0;
    
}
#navigation ul li {
	float: left;
}
#navigation ul ul li {
    
    display: block;
    padding: 0.5em 0;
    background-color: white;
    border-bottom: 1px solid red;
    text-decoration: none;
}
#navigation ul ul li a{
    
    display:block;
    margin-right: 10px;
    
}
#navigation ul ul li:hover {
 
}
#home,#ctdt,#dk,#job,#viettech,#contact,#blog
{
    
    margin-top: 40px;
    background-color: white;
    border-bottom: 5px solid red;
    border-right: 1px solid black;
    height: 36px;
    overflow: hidden;
    display: inline-block;
}

#home
{
    width: 7%;
}
#home:hover,#ctdt:hover,#dk:hover,#job:hover,#viettech:hover,#contact:hover,#blog:hover
{
    border-bottom-color: orange;
}
#navigation ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#navigation ul ul li {
	float: none;           /* Display the submenus vertically */
}

#navigation > ul::after {
	content: "";
	display: block;
	clear: both;
}
#ctdt
{
    width: 12.89% ;
}
#navigation ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}


#dk
{
    width: 8.12%;
}
#job
{
    width: 6.25%;
}
#viettech
{
    width: 6.64%;
}
#contact
{
    width: 5.62%;
}
#blog
{
    width: 4.45%;
}

/*-----------------------------*/
#right-logo
{  
    max-width: 14.27%;
    background-color: white;
    border-bottom: 5px solid red;
    height: 76px;
    overflow: hidden;
}
#right-logo img
{
    max-width: 100%;
}

#header>ul::after
{
    content:"";
    display:block;
    clear:both;
    
}
header h1
{
    font-size: 90px;
    text-align: center;
}
/*-------------------------------*/

/*---------CSS for banner-------*/
nav{
    clear: left;
    height: 249px;
}
nav img 
{
    margin-left: 12%;
}

/*---------------------*/
main{
    border-top: 3px solid red;
    margin: 0; 
    padding:0;
}
/*---------CSS-for---registry and course-----------*/
#first
{
    background-color: rgb(202,52,56);
    height: 395px;
    width: 100%;
}
/*---------------registry form-------------*/
#registry 
{
   
    margin-top: 20px; margin-left: 11.09%;margin-right: 25px;
    width: 18.28%;
    height: 356px;
    float: left;
    border-bottom: 1px dashed gold;
    border-top : 1px dashed gold;
    border-left: 1px dashed gold;
    border-right: 1px dashed gold;
    border-radius: 2px;
}
#reg-icon
{
    display: block;
    float:left;
    margin-left: 10px;
    margin-top: 15px;
    width: 100%;
    max-width:41px; 
}

#registry h2{
    text-transform: uppercase;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 22px;
    border-bottom: 1px dashed gold;
}
form
{
    margin :0;
    padding:0;
}
#form-reg1
{
    margin-top: 13px;
    margin-left: 10px;
    margin-bottom: 9px;
    height:28px;
    width: 211px;
}
#form-reg2,#form-reg3,#registry .multi-choice
{
    margin-left: 10px;
    margin-bottom: 9px;
    height:28px;
    width: 211px;
}
#message {
    margin-left: 10px;
    height:50px; 
    width: 211px;
    margin-bottom: 9px;
}

#extra{
    background-color: orange;
    color: white;
    margin-left: 10px;
    padding: 5px 28px;
    text-align: center;
    display: inline-block;
    height:36px; 
    width: 211px;
    font-size: 14px;
    text-transform: uppercase;
}
#extra:hover {
  border: none;
  background: orange;
  box-shadow: 0px 0px 1px #777;
 }
 
 /*-------------Courses--------------------*/
#course 
{
    float: left;
    width: 57.5%;
    height: 356px;
    margin-bottom: 5px; margin-top: 20px;
    border-bottom: 1px dashed gold;
    border-top : 1px dashed gold;
    border-left: 1px dashed gold;
    border-right: 1px dashed gold;
    border-radius: 1px;
}
#course h2
{
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px dashed gold;
}
#course .course1
{
    float:left;
    margin-left:15px;
    margin-top: 5px;
    text-align: center;
}
#course .course1 img
{
     border-radius: 50%;
}
#course .course2{
    float:left;
    margin-left: 30px;
    margin-top:  5px;
    text-align:  center;
}
#course .course2 img
{
     border-radius: 50%;
}
#course .course3{
    float:left;
    margin-left: 30px;
    margin-top: 5px;
    text-align: center;
}
#course .course3 img
{
     border-radius: 50%;
}
#course .course4{
    float:left;
    margin-left:30px;
    margin-top: 5px;
    text-align: center;
}
#course .course4 img
{
     border-radius: 50%;
}
#introduction{
    height: 300px;
    clear: left;
    border-top: 3px solid red;
    padding-bottom: 2em;
    border-bottom: 3px solid red;
}
#introduction img{
       border-radius: 50%;
       float:left;
       margin-top:2%;
       margin-left:12%;
       margin-right:10px;
}
#intro-text
{
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 300px;
}
#second
{
 height: 300px;
 border-bottom: 3px solid red;   
 background-color: rgb(202,52,56);
}
#schedule
{
    float:left;
    margin-top:2%;
    margin-left:20px;
    margin-right:10px;
    width: 400px;
}
#schedule h2
{
    margin-left: 20px;
}
#noteboard
{
    float:left;
    margin-top:2%;
    margin-left:60px;
    border-left: 1px solid black;
    height: 200px;
    width: 800px;
}
#noteboard h2
{
     margin-left: 60px;
}
#third{
    height: 300px;
    border-bottom: 3px solid red;
}
#news 
{
    float:left;
    margin-top:2%;
    margin-left:20px;
    margin-right:10px;
    width: 400px;
    
}
#news p
{
    margin-left: 30px;
}
#placementnews 
{
    background-color: bisque;
    float:left;
    margin-top:2%;
    margin-left:60px;
    border-left: 1px solid black;
    width: 800px;
}
#placementnews p
{
    margin-left: 60px;
}
#placementnews ul
{
    margin-left: 60px;
}
/*------footer---------*/
footer {background: #aaa;color:white;}